In [4]:
import sqlalchemy
import pymysql

In [5]:
pymysql.install_as_MySQLdb()

In [6]:
indices = ['Nifty50','RTSI','Bovespa']

In [7]:
def schemacreator(index):
    engine = sqlalchemy.create_engine('mysql://root:Uttamsql1@localhost:3306/')
    engine.execute(sqlalchemy.schema.CreateSchema(index))

In [8]:
for index in indices:
    schemacreator(index)

In [9]:
import pandas as pd

In [36]:
nifty = pd.read_html('https://en.wikipedia.org/wiki/NIFTY_50')[1]
bovespa = pd.read_html('https://en.wikipedia.org/wiki/List_of_companies_listed_on_B3')[0]
rts = pd.read_html('https://en.wikipedia.org/wiki/RTS_Index')[1]

In [49]:
def To_list():
    nifty = nifty.Symbol.to_list()
    bovespa = bovespa.Ticker.to_list()
    rts = rts['Ticker symbol'].to_list()

AttributeError: 'list' object has no attribute 'Symbol'

In [ ]:
def renameShema():
    nifty = [i +'.NS' for i in nifty]
    bovespa = [i +'.SA' for i in bovespa]
    rts = [i +'.ME' for i in rts]

In [52]:
nifty

['ADANIPORTS.NS',
 'APOLLOHOSP.NS',
 'ASIANPAINT.NS',
 'AXISBANK.NS',
 'BAJAJ-AUTO.NS',
 'BAJFINANCE.NS',
 'BAJAJFINSV.NS',
 'BHARTIARTL.NS',
 'BPCL.NS',
 'BRITANNIA.NS',
 'CIPLA.NS',
 'COALINDIA.NS',
 'DIVISLAB.NS',
 'DRREDDY.NS',
 'EICHERMOT.NS',
 'GRASIM.NS',
 'HCLTECH.NS',
 'HDFC.NS',
 'HDFCBANK.NS',
 'HDFCLIFE.NS',
 'HEROMOTOCO.NS',
 'HINDALCO.NS',
 'HINDUNILVR.NS',
 'ICICIBANK.NS',
 'INDUSINDBK.NS',
 'INFY.NS',
 'ITC.NS',
 'JSWSTEEL.NS',
 'KOTAKBANK.NS',
 'LT.NS',
 'M&M.NS',
 'MARUTI.NS',
 'NESTLEIND.NS',
 'NTPC.NS',
 'ONGC.NS',
 'POWERGRID.NS',
 'RELIANCE.NS',
 'SBIN.NS',
 'SBILIFE.NS',
 'SHREECEM.NS',
 'SUNPHARMA.NS',
 'TATAMOTORS.NS',
 'TATASTEEL.NS',
 'TCS.NS',
 'TATACONSUM.NS',
 'TECHM.NS',
 'TITAN.NS',
 'ULTRACEMCO.NS',
 'UPL.NS',
 'WIPRO.NS']

In [45]:
import yfinance as yf

In [54]:
yf.download(nifty[0],start='2021-05-20')

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2021-05-20,776.500000,779.500000,761.049988,765.700012,755.141724,6964023
2021-05-21,772.000000,775.250000,766.650024,769.200012,758.593445,5274817
2021-05-24,769.700012,779.900024,746.599976,766.549988,755.979980,8354397
2021-05-25,773.000000,776.700012,759.000000,764.000000,753.465210,4730725
2021-05-26,767.849976,769.900024,757.000000,758.299988,747.843750,7375242
...,...,...,...,...,...,...
2022-07-25,757.000000,757.250000,746.049988,749.950012,749.950012,1592179
2022-07-26,749.900024,753.500000,745.000000,749.099976,749.099976,1803260
2022-07-27,748.700012,762.200012,747.049988,760.650024,760.650024,2539587
2022-07-28,763.650024,768.599976,757.650024,764.500000,764.500000,2696358
2022-07-29,769.000000,775.650024,758.849976,763.700012,763.700012,3182012

In [55]:
mapper = {'Nifty50':nifty,'Bovespa':bovespa,'RTSI':rts}

In [60]:
def CreateSchema(indices,mapper):
    for index in indices:
        engine =sqlalchemy.create_engine('mysql://root:Uttamsql1@localhost:3306/'+index)
        for symbol in mapper[index]:
            df = yf.download(symbol,start='2010-01-01')
            df = df.reset_index()
            df.to_sql(symbol,engine)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'ADANIPORTS.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'APOLLOHOSP.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'ASIANPAINT.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'AXISBANK.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'BAJAJ-AUTO.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'BAJFINANCE.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'BAJAJFINSV.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'BHARTIARTL.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'BPCL.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'BRITANNIA.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'CIPLA.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'COALINDIA.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'DIVISLAB.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'DRREDDY.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'EICHERMOT.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'GRASIM.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'HCLTECH.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'HDFC.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'HDFCBANK.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'HDFCLIFE.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'HEROMOTOCO.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'HINDALCO.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'HINDUNILVR.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'ICICIBANK.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'INDUSINDBK.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'INFY.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'ITC.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'JSWSTEEL.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'KOTAKBANK.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'LT.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'M&M.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'MARUTI.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'NESTLEIND.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'NTPC.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'ONGC.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'POWERGRID.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'RELIANCE.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'SBIN.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'SBILIFE.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'SHREECEM.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'SUNPHARMA.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'TATAMOTORS.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'TATASTEEL.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'TCS.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'TATACONSUM.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'TECHM.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'TITAN.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'ULTRACEMCO.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'UPL.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'WIPRO.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'AFKS.ME' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'AFLT.ME' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'AGRO.ME' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'AKRN.ME' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

1 Failed download:
- LNTA.ME: No data found, symbol may be delisted

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'LNTA.ME' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'CBOM.ME' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'DSKY.ME' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'CHMF.ME' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'DIXY.ME' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'FEES.ME' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'GAZP.ME' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'GMKN.ME' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'HYDR.ME' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'IRAO.ME' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'LKOH.ME' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'LSRG.ME' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'MAGN.ME' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

1 Failed download:
- MFON.ME: No data found, symbol may be delisted

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'MFON.ME' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'MGNT.ME' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'MOEX.ME' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'MSNG.ME' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'MTLR.ME' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'ALRS.ME' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'MTSS.ME' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'MVID.ME' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'NLMK.ME' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

1 Failed download:
- NMPT.ME: No data found, symbol may be delisted

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'NMPT.ME' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'NVTK.ME' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'PHOR.ME' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'PIKK.ME' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'PLZL.ME' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'POLY.ME' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'ROSN.ME' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'RSTI.ME' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'RTKM.ME' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

1 Failed download:
- RUALR.ME: No data found for this date range, symbol may be delisted

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'RUALR.ME' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

1 Failed download:
- EPLN.ME: No data found, symbol may be delisted

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'EPLN.ME' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'SBER.ME' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'SBERP.ME' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'SNGS.ME' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'SNGSP.ME' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'TATN.ME' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'TATNP.ME' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'TRMK.ME' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'TRNFP.ME' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'UPRO.ME' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'RNFT.ME' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'UWGN.ME' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'VTBR.ME' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'YNDX.ME' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'ALPA4.SA' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'ABEV3.SA' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'AMER3.SA' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'AZUL4.SA' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'B3SA3.SA' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'BBAS3.SA' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'BBSE3.SA' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'BBDC3.SA' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'BBDC4.SA' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'BIDI11.SA' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'BPAN4.SA' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'BRAP4.SA' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'BRML3.SA' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'BRKM5.SA' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'BRFS3.SA' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'BPAC11.SA' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'CRFB3.SA' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'CCRO3.SA' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'CVCB3.SA' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'CMIG4.SA' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'CIEL3.SA' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'COGN3.SA' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'CPLE6.SA' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'CSAN3.SA' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'CPFE3.SA' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'CSNA3.SA' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'CYRE3.SA' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'DXCO3.SA' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'ECOR3.SA' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'ENBR3.SA' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'ELET3.SA' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'ELET6.SA' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'EMBR3.SA' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'ENGI11.SA' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'ENEV3.SA' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'EGIE3.SA' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'EQTL3.SA' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'EZTC3.SA' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'GGBR4.SA' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'GOLL4.SA' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'PCAR3.SA' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'SOMA3.SA' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'FLRY3.SA' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'HAPV3.SA' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'HYPE3.SA' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'IGTI11.SA' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'IRBR3.SA' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'ITUB4.SA' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'ITSA4.SA' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'JBSS3.SA' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'JHSF3.SA' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'KLBN11.SA' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'RENT3.SA' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'LWSA3.SA' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'LREN3.SA' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'MGLU3.SA' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'MRFG3.SA' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'CASH3.SA' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'GOAU4.SA' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'BEEF3.SA' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'MRVE3.SA' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'MULT3.SA' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'NTCO3.SA' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'PETR3.SA' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'PETR4.SA' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'VBBR3.SA' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'PRIO3.SA' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'PETZ3.SA' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'QUAL3.SA' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'RADL3.SA' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'RDOR3.SA' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'RAIL3.SA' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'SBSP3.SA' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'SANB11.SA' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'ASAI3.SA' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'SULA11.SA' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'SUZB3.SA' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'TAEE11.SA' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'VIVT3.SA' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'TIMS3.SA' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'TOTS3.SA' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'UGPA3.SA' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'LCAM3.SA' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'USIM5.SA' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'VALE3.SA' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'VIIA3.SA' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'YDUQ3.SA' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\utamp\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'WEGE3.SA' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)