In [1]:
import pandas as pd
import pymysql
import ta
import sqlalchemy
import numpy as np

In [2]:
pymysql.install_as_MySQLdb()

In [3]:
engine = sqlalchemy.create_engine('mysql://root:Uttamsql1@localhost:3306')

In [4]:
def gettable(index):
    query = f"""SELECT table_name FROM information_schema.tables WHERE table_schema ='{index}' """
    df = pd.read_sql(query,engine)
    df['Schema'] = index
    return df

In [25]:
nifty= gettable('Nifty50')# Nifty50 , Bovespa,RTSI
RTSI = gettable('RTSI')
Bovespa = gettable('Bovespa')

In [26]:
nifty.head()

      TABLE_NAME   Schema
0  adaniports.ns  Nifty50
1  apollohosp.ns  Nifty50
2  asianpaint.ns  Nifty50
3    axisbank.ns  Nifty50
4  bajaj-auto.ns  Nifty50

'apollohosp.ns'

In [6]:
def getprice(which):
    prices = []
    for table , schema in zip(which.TABLE_NAME,which.Schema):
        sql = schema + '.'+f'`{table}`'
        prices.append(pd.read_sql(f"SELECT Date,Close FROM {sql}",engine))
    return prices

In [7]:
def MACDdecision(df):
    df['MACD_diff'] = ta.trend.macd_diff(df.Close)
    df['Decision MACD'] = np.where((df.MACD_diff > 0) & (df.MACD_diff.shift(1) < 0), True , False)

In [8]:
def Goldencrossdecision(df):
    df['SMA20'] = ta.trend.sma_indicator(df.Close,window=20)
    df['SMA50'] = ta.trend.sma_indicator(df.Close,window=50)
    df['Signal'] = np.where(df['SMA20'] > df['SMA50'],True,False)
    df['Decision GC'] = df.Signal.diff()

In [9]:
def RSI_SMAdecision(df):
    df['RSI'] = ta.momentum.rsi(df.Close,window=200)
    df['SMA200'] = ta.trend.sma_indicator(df.Close,window=200)
    df['Decision RSI/SMA'] = np.where((df.Close > df.SMA200) & (df.RSI < 30),True,False)

In [10]:
def applytechnical(which):
    prices = getprice(which)
    for fram in prices:
        MACDdecision(fram)
        Goldencrossdecision(fram)
        RSI_SMAdecision(fram)
    return prices

In [21]:
 def MovingAverage():
    df['SMA_14'] = df['Close'].rolling(window=14).mean()
    sell = df['SMA_14'] == df['Close']
    print(sell)

In [11]:
applytechnical(nifty)[0]

,Date,Close,MACD_diff,Decision MACD,SMA20,SMA50,Signal,Decision GC,RSI,SMA200,Decision RSI/SMA
0,2010-01-04,111.349998,NaN,False,NaN,NaN,False,NaN,NaN,NaN,False
1,2010-01-05,115.190002,NaN,False,NaN,NaN,False,False,NaN,NaN,False
2,2010-01-06,120.900002,NaN,False,NaN,NaN,False,False,NaN,NaN,False
3,2010-01-07,119.470001,NaN,False,NaN,NaN,False,False,NaN,NaN,False
4,2010-01-08,119.330002,NaN,False,NaN,NaN,False,False,NaN,NaN,False
...,...,...,...,...,...,...,...,...,...,...,...
3109,2022-08-05,810.250000,5.984229,False,760.007504,725.416002,True,False,52.808487,743.38850,False
3110,2022-08-08,801.650024,4.658287,False,763.630005,726.755002,True,False,52.604966,743.42225,False
3111,2022-08-10,790.549988,2.696100,False,766.562503,727.769003,True,False,52.343286,743.47825,False
3112,2022-08-11,792.750000,1.280621,False,769.862503,728.886002,True,False,52.390462,743.63300,False
3113,2022-08-12,788.349976,-0.142108,False,773.057501,729.684001,True,False,52.286425,743.81450,False

In [12]:
def recommender(which):
    indicators = ['Decision MACD','Decision GC','Decision RSI/SMA']
    for symbol,fram in zip(which.TABLE_NAME,applytechnical(which)):
        if fram.empty is False:
            for indicator in indicators:
                if fram[indicator].iloc[-1]==True:
                    print(f"{indicator} Buying Signal for "+symbol)

In [13]:
recommender(nifty)

Decision MACD Buying Signal for drreddy.ns
Decision GC Buying Signal for eichermot.ns
Decision GC Buying Signal for powergrid.ns
Decision GC Buying Signal for techm.ns

In [14]:
recommender(Bovespa)

Decision MACD Buying Signal for enev3.sa
Decision MACD Buying Signal for hapv3.sa
Decision MACD Buying Signal for irbr3.sa
Decision MACD Buying Signal for mrve3.sa
Decision GC Buying Signal for mrve3.sa
Decision MACD Buying Signal for petz3.sa
Decision GC Buying Signal for radl3.sa
Decision MACD Buying Signal for wege3.sa

In [15]:
class Recommender:
    engine = sqlalchemy.create_engine('mysql://root:Uttamsql1@localhost:3306')
    
    def __init__(self,index):
        self.index = index
        
    def gettable(self):
        query = f"""SELECT table_name FROM information_schema.tables WHERE table_schema ='{self.index}' """
        df = pd.read_sql(query,self.engine)
        df['Schema'] = self.index
        return df
    
    
    def getprice(self):
        prices = []
        for table , schema in zip(self.gettable().TABLE_NAME,self.gettable().Schema):
            sql = schema + '.'+f'`{table}`'
            prices.append(pd.read_sql(f"SELECT Date,Close FROM {sql}",self.engine))
        return prices
    
    
    def MACDdecision(self,df):
        df['MACD_diff'] = ta.trend.macd_diff(df.Close)
        df['Decision MACD'] = np.where((df.MACD_diff > 0) & (df.MACD_diff.shift(1) < 0), True , False)
        
    def Goldencrossdecision(self,df):
        df['SMA20'] = ta.trend.sma_indicator(df.Close,window=20)
        df['SMA50'] = ta.trend.sma_indicator(df.Close,window=50)
        df['Signal'] = np.where(df['SMA20'] > df['SMA50'],True,False)
        df['Decision GC'] = df.Signal.diff()
    
    def RSI_SMAdecision(self,df):
        df['RSI'] = ta.momentum.rsi(df.Close,window=200)
        df['SMA200'] = ta.trend.sma_indicator(df.Close,window=200)
        df['Decision RSI/SMA'] = np.where((df.Close > df.SMA200) & (df.RSI < 30),True,False)
        
    def applytechnical(self):
        prices = self.getprice()
        for fram in prices:
            self.MACDdecision(fram)
            self.Goldencrossdecision(fram)
            self.RSI_SMAdecision(fram)
        return prices
    
    def recommender(self):
        indicators = ['Decision MACD','Decision GC','Decision RSI/SMA']
        for symbol,fram in zip(self.gettable().TABLE_NAME,self.applytechnical()):
            if fram.empty is False:
                for indicator in indicators:
                    if fram[indicator].iloc[-1]==True:
                        print(f"{indicator} Buying Signal for "+symbol)

In [16]:
niftyinstances = Recommender('Nifty50')
rtsiinstances = Recommender('RTSI')
bovespainstances = Recommender('Bovespa')

In [17]:
niftyinstances.applytechnical()[0]

,Date,Close,MACD_diff,Decision MACD,SMA20,SMA50,Signal,Decision GC,RSI,SMA200,Decision RSI/SMA
0,2010-01-04,111.349998,NaN,False,NaN,NaN,False,NaN,NaN,NaN,False
1,2010-01-05,115.190002,NaN,False,NaN,NaN,False,False,NaN,NaN,False
2,2010-01-06,120.900002,NaN,False,NaN,NaN,False,False,NaN,NaN,False
3,2010-01-07,119.470001,NaN,False,NaN,NaN,False,False,NaN,NaN,False
4,2010-01-08,119.330002,NaN,False,NaN,NaN,False,False,NaN,NaN,False
...,...,...,...,...,...,...,...,...,...,...,...
3109,2022-08-05,810.250000,5.984229,False,760.007504,725.416002,True,False,52.808487,743.38850,False
3110,2022-08-08,801.650024,4.658287,False,763.630005,726.755002,True,False,52.604966,743.42225,False
3111,2022-08-10,790.549988,2.696100,False,766.562503,727.769003,True,False,52.343286,743.47825,False
3112,2022-08-11,792.750000,1.280621,False,769.862503,728.886002,True,False,52.390462,743.63300,False
3113,2022-08-12,788.349976,-0.142108,False,773.057501,729.684001,True,False,52.286425,743.81450,False

In [18]:
niftyinstances.recommender()

Decision MACD Buying Signal for drreddy.ns
Decision GC Buying Signal for eichermot.ns
Decision GC Buying Signal for powergrid.ns
Decision GC Buying Signal for techm.ns

In [19]:
rtsiinstances.recommender()

Decision GC Buying Signal for hydr.me
Decision GC Buying Signal for phor.me

In [20]:
bovespainstances.recommender()

Decision MACD Buying Signal for enev3.sa
Decision MACD Buying Signal for hapv3.sa
Decision MACD Buying Signal for irbr3.sa
Decision MACD Buying Signal for mrve3.sa
Decision GC Buying Signal for mrve3.sa
Decision MACD Buying Signal for petz3.sa
Decision GC Buying Signal for radl3.sa
Decision MACD Buying Signal for wege3.sa